{% extends 'base.html' %}
{% block body %}

<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
        <h1>Aman Kumar Singh</h1>
        <br>
        <p>I'm <span class="typed" data-typed-items="Designer, Developer, Freelancer"></span></p>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
        <div class="container">

            <div class="section-title">
                <h2>About</h2>
                <p>Myself Aman Kumar Singh, I have been working on Embedded Systems and IoT for past 3 Years. I worked
                    as Application Engineer at Technologics Global Private Limited.
                </p>
                <p>
                    Primary objective is to execute full life-cycle developments of projects including Hardware &
                    Software Testing and Design Verification.

                    Hands on experience in system development and unit testing of Embedded Applications with the use of
                    appropriate tools.
                </p>
                <p>
                    Extensive experience in executing full life-cycle development projects; ramping-up
                    projects within time, budget & quality parameters, as per project management & best
                    practice guidelines.</p>
            </div>

            <div class="row">
                <div class="col-lg-4" data-aos="fade-right">
                    <img src="{{ url_for('static', filename='img/profile-img.jpg')}} " class="img-fluid" alt="">
                </div>
                <div class="col-lg-8 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h3>Embedded System Designer &amp; IoT Developer.</h3>
                    <p class="font-italic">
                        Hey, my name is Aman Kumar Singh and I love to work on Electronics.
                        <br>
                        It's been thrill on working with hardwares whom you can control through your Knowledge, Logic
                        and Programming.

                    </p>
                    <div class="row">
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Birthday:</strong> 3 February 1995
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Website:</strong><a href="http://www.e-ionics.in" target="_blank"> www.e-ionics.in</a></li>
                                <li><i class="icofont-rounded-right"></i> <strong>Phone:</strong> +91 8789423848</li>
                                <li><i class="icofont-rounded-right"></i> <strong>City:</strong> Bengaluru, India
                                </li>
                            </ul>
                        </div>
                        <div class="col-lg-6">
                            <ul>
                                <li><i class="icofont-rounded-right"></i> <strong>Age:</strong> 27</li>
                                <li><i class="icofont-rounded-right"></i> <strong>Degree:</strong> Bachelor of
                                    Technology (B. Tech)
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Email:</strong>
                                    amansingh32@hotmail.com
                                </li>
                                <li><i class="icofont-rounded-right"></i> <strong>Freelance:</strong> Available</li>
                            </ul>
                        </div>
                    </div>
                    <p>
                        Result-oriented professional with over 3 years of experience in Embedded System Design &
                        Development
                        including design of software & hardware test routines, design verification, functional testing
                        and peer code reviews.
                    </p>
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Facts Section ======= -->
    <section id="facts" class="facts">
        <div class="container">

            <div class="section-title">
                <h2>Facts</h2>
                <p>Represented the department for development of the technology roadmap for Embedded and IOT division by
                    identifying desired future products, technology and Internet Protocol (IP) required to develop those
                    products.
                    <br>
                    Exceptional communication, collaboration & analytical skills with proficiency in grasping new
                    technical concepts quickly
                    and utilizing the same in a productive manner.</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
                    <div class="count-box">
                        <i class="icofont-simple-smile"></i>
                        <span data-toggle="counter-up">5</span>
                        <p><strong>Industrial Projects</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="100">
                    <div class="count-box">
                        <i class="icofont-document-folder"></i>
                        <span data-toggle="counter-up">40</span>
                        <p><strong>Academic Projects</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="200">
                    <div class="count-box">
                        <i class="icofont-live-support"></i>
                        <span data-toggle="counter-up">1,500</span>
                        <p><strong>Hours Of Support</strong> </p>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up" data-aos-delay="300">
                    <div class="count-box">
                        <i class="icofont-users-alt-5"></i>
                        <span data-toggle="counter-up">6</span>
                        <p><strong>Workshops</strong> </p>
                    </div>
                </div>

            </div>

        </div>
    </section><!-- End Facts Section -->

    <!-- =======Technical  Skills Section ======= -->
    <section id="skills" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2> Technical Skills</h2>
                <p> Works on different Microcontrollers like 8051, PIC, ARM, STM32 Nucleo, Arduino, NodeMCU, Raspberry
                    Pi.
                    <br>
                    Works on Different types of client and Cloud platform on IOT like Amazon Web Services (AWS),
                    Thingspeak, Blynk, PAHO MQTT, Google Firebase, Adafruit IO.</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">C <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Python <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Flask <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">Djano <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">Machine Learning <i class="val">50%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">8051 <i class="val">100%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">PIC16FXX <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">ARM (LPC1768) <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">NodeMCU <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>
                    <div class="progress">
                        <span class="skill">PCB Designing <i class="val">80%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Technical Skills Section -->

    <!-- ======= Skills Section ======= -->
    <section id="skillsset" class="skills section-bg">
        <div class="container">

            <div class="section-title">
                <h2> Skill Sets</h2>
                <p> In-depth understanding of system development life cycle including study of specifications,
                    requirement gathering, designing, integration, testing, documentation and support</p>
            </div>

            <div class="row skills-content">

                <div class="col-lg-6" data-aos="fade-up">

                    <div class="progress">
                        <span class="skill">Hardware Designing <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Embedded System Product Design <i class="val">70%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">System Integration <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">

                    <div class="progress">
                        <span class="skill">Hardware Testing &amp; Debugging <i class="val">75%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Technical Support <i class="val">90%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                    <div class="progress">
                        <span class="skill">Service Delivery <i class="val">60%</i></span>
                        <div class="progress-bar-wrap">
                            <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0"
                                 aria-valuemax="100"></div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </section><!-- End Skills Section -->

    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume">
        <div class="container">

            <div class="section-title">
                <h2>Resume</h2>
                <p>B.Tech with 3 years of proven experience as Application Engineer. Knowledge and Experience in
                    Embedded System, IoT and Machine Learning. Familiarity with different microcontrollers, PCB
                    Designing, Python, Django and Flask Frameworks.<br>
                    Having Knowledge on cloud platform AWS for services like EC2, Lambda, DynamoDB, S3 &amp; CloudWatch.
                </p>
            </div>

            <div class="row">
                <div class="col-lg-6" data-aos="fade-up">
                    <h3 class="resume-title">Sumary</h3>
                    <div class="resume-item pb-0">
                        <h4>Aman Kumar</h4>
                        <p><em>I love to work on Electronics. I have a working experience of 3
                            years on Embedded System Design, Internet of Things and Artificial Intelligence. It's been
                            thrill on working with hardware whom you can control through your Knowledge, Logic and
                            Programming.</em></p>
                        <ul>
                            <li>512, 12th Main, HSR Sector 7, Bengaluru, IN</li>
                            <li>(+91) 8789423848</li>
                            <li>amansingh32@hotmail.com</li>
                        </ul>
                    </div>

                    <h3 class="resume-title">Education</h3>
                    <div class="resume-item">
                        <h4>Bachelor of Technology (B. Tech)</h4>
                        <h5>2013 - 2017</h5>
                        <p><em>Trident Academy of Technology, Bhubaneswar, Odisha, IN</em></p>
                        <p>This stream of engineering deals with analogue transmission, basic electronics,
                            microprocessors, microcontrollers, digital and analogue communication, analogue
                            integrated circuits, microwave engineering, satellite communication, antennae and wave
                            progression. It also deals with the manufacturing of electronic devices, circuits, and
                            communications equipment.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Intermediate (HSC)</h4>
                        <h5>2010 - 2012</h5>
                        <p><em>Bokaro Ispat Senior Secondary School, Bokaro, Jharkhand, IN</em></p>
                        <p>This stream of Intermediate or 12th deals with PCM stream, that involes basics of Physics,
                            Chemistry &amp; Mathematics. This stream helps to look fowarwd in path of Engineering.</p>
                    </div>
                    <div class="resume-item">
                        <h4>Matriculation (SSC)</h4>
                        <h5>2000 - 20110</h5>
                        <p><em>Bokaro Ispat Vidyalaya, Bokaro, Jharkhand, IN</em></p>
                        <p>This stream of Matriculation or 10th deals with basics steps towards learning and generating
                            interests in differents kinds of domains, like Science, Commerece, Arts, etc</p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
                    <h3 class="resume-title">Professional Experience</h3>
                    <div class="resume-item">
                        <h4>Aplplication Engineer</h4>
                        <h5>Jan 2018 - Jan 2021</h5>
                        <p><em>Technologics Global Pvt. Ltd., Bengaluru, IN </em></p>
                        <ul>
                            <li>Result-oriented professional with over 3 years of experience in Embedded System Design &
                                Development.
                            </li>
                            <li>Hands on experience in system development and unit testing of embedded applications as
                                well as with use the
                                appropriate right tools for to complete the work with quick time duration.
                            </li>
                            <li>In-depth understanding of system development life cycle including study of
                                specifications, requirement gathering,
                                designing, integration, testing, documentation and support.
                            </li>
                            <li>Represented the department for development of the technology roadmap for Embedded and
                                IOT division by
                                identifying desired future products, technology and Internet Protocol (IP) required to
                                develop those products.
                            </li>
                        </ul>
                    </div>
                    <div class="resume-item">
                        <h4>Embedded System Training</h4>
                        <h5>July 2017 - Jan 2018</h5>
                        <p><em>Vector India - Embedded System Training Institute, Bengaluru, IN</em></p>
                        <ul>
                            <li>An embedded systemis the one that has computer-hardware with software integrated in it
                                as the most significant component. It is a dedicated computer-based system, may be
                                independent or part of a large system with the following components:
                                <ol>
                                    <li>Hardware: It includes processor, timers, I/O devices, ports, memories, ports,
                                        etc.
                                    </li>
                                    <li>Application software: To perform multiple tasks at the same time.</li>
                                    <li>Real Time Operating System (RTOS): It supervises the application software and
                                        provides a
                                        mechanism to let the processor run a process as per scheduling and perform the
                                        context-switch between different processes.
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Resume Section -->

    <!-- ======= Portfolio Section ======= -->
<!--    <section id="portfolio" class="portfolio section-bg">-->
<!--        <div class="container">-->

<!--            <div class="section-title">-->
<!--                <h2>Portfolio</h2>-->
<!--                <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint-->
<!--                    consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia-->
<!--                    fugiat sit in iste officiis commodi quidem hic quas.</p>-->
<!--            </div>-->

<!--            <div class="row" data-aos="fade-up">-->
<!--                <div class="col-lg-12 d-flex justify-content-center">-->
<!--                    <ul id="portfolio-flters">-->
<!--                        <li data-filter="*" class="filter-active">All</li>-->
<!--                        <li data-filter=".filter-app">App</li>-->
<!--                        <li data-filter=".filter-card">Card</li>-->
<!--                        <li data-filter=".filter-web">Web</li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->

<!--            <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-1.jpg')}} " class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-1.jpg')}} "-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="App 1"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-2.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-2.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-3.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-3.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="App 2"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-4.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-4.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Card 2"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-5.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-5.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Web 2"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-app">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-6.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-6.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="App 3"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-7.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-7.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Card 1"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-card">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-8.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-8.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Card 3"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--                <div class="col-lg-4 col-md-6 portfolio-item filter-web">-->
<!--                    <div class="portfolio-wrap">-->
<!--                        <img src="{{ url_for('static', filename='img/portfolio/portfolio-9.jpg')}}" class="img-fluid"-->
<!--                             alt="">-->
<!--                        <div class="portfolio-links">-->
<!--                            <a href="{{ url_for('static', filename='img/portfolio/portfolio-9.jpg')}}"-->
<!--                               data-gall="portfolioGallery" class="venobox"-->
<!--                               title="Web 3"><i class="bx bx-plus"></i></a>-->
<!--                            <a href="portfolio-details.html" title="More Details"><i class="bx bx-link"></i></a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->
<!--    </section>&lt;!&ndash; End Portfolio Section &ndash;&gt;-->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
        <div class="container">

            <div class="section-title">
                <h2>Services</h2>
                <p>A full range of services offered for technology like Embedded System, IoT, Machine Learning, Web
                    Development, Machine Learning, Projects and many more.</p>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up">
                    <div class="icon"><i class="icofont-computer"></i></div>
                    <h4 class="title"><a href="">C programming</a></h4>
                    <p class="description">First step towards programming is always better to start with C language. C
                        was adopted as a system development language because it produces code that
                        runs nearly as fast as code written in assembly language.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="icofont-chart-bar-graph"></i></div>
                    <h4 class="title"><a href="">8051 Microcontroller</a></h4>
                    <p class="description">The use of microcontroller in various fields such as automobile, aeronautics,
                        space, robotics, electronics, defense application, mobile communications, rail transport,
                        industrial processing, and medical applications is rapidly increasing.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                    <div class="icon"><i class="icofont-earth"></i></div>
                    <h4 class="title"><a href="">PIC Microcontroller</a></h4>
                    <p class="description">At present PIC microcontrollers are extensively used for industrial purpose
                        due to low power consumption, high performance ability and easy of availability of its
                        supporting hardware and software tools like compilers, debuggers and simulators.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                    <div class="icon"><i class="icofont-image"></i></div>
                    <h4 class="title"><a href="">ARM CORTEX-M3 Microcontroller</a></h4>
                    <p class="description">ARM is the most popular processor, particularly used in portable devices due
                        to its low power consumption and reasonable performance. ARM has got better performance when
                        compared to other processors. The ARM processor is basically consisting of low power consumption
                        and low cost.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                    <div class="icon"><i class="icofont-settings"></i></div>
                    <h4 class="title"><a href="">Python Programming</a></h4>
                    <p class="description">Python is a general purpose programming language. Hence, you can use the
                        programming language for developing both desktop and web applications. Also, you can use Python
                        for developing complex scientific and numeric applications. Python is designed with features to
                        facilitate data analysis and visualization.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Python Web Frameworks</a></h4>
                    <p class="description">Python Web framework basically includes Django and Flask. Python Web
                        framework is a collection of packages or modules that allow
                        developers to write Web applications or services. With it, developers don't need to handle
                        low-level details like protocols, sockets or process/thread management.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">IoT Application Development</a></h4>
                    <p class="description">IoT devices can be used to monitor and control the mechanical, electrical and
                        electronic systems used in various types of buildings (e.g., public and private, industrial,
                        institutions, or residential) in home automation and building automation systems.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Projects</a></h4>
                    <p class="description">Project is a sequence of tasks that must be completed to attain a certain
                        outcome.
                        Projects can be done on different technology including hardware and software supports.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Workshops</a></h4>
                    <p class="description">A workshop can introduce a new concept, spurring participants to investigate
                        it further on their own, or can demonstrate and encourage the practice of actual methods. It's a
                        great way to teach hands-on skills because it offers participants a chance to try out new
                        methods and fail in a safe situation.</p>
                </div>

                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">Machine Learning</a></h4>
                    <p class="description">Machine Learning provides smart alternatives to analyzing vast volumes of
                        data. By developing fast and efficient algorithms and data-driven models for real-time
                        processing of data, Machine Learning can produce accurate results and analysis.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">IoT on Raspberry Pi</a></h4>
                    <p class="description">The Raspberry Pi is a low cost, credit-card sized computer that plugs into a
                        computer monitor or TV, and uses a standard keyboard and mouse. It is a capable little device
                        that enables people of all ages to explore computing, and to learn how to program in languages
                        like Scratch and Python.</p>
                </div>
                <div class="col-lg-4 col-md-6 icon-box" data-aos="fade-up" data-aos-delay="500">
                    <div class="icon"><i class="icofont-tasks-alt"></i></div>
                    <h4 class="title"><a href="">PCB Designing</a></h4>
                    <p class="description">I offer PCB Design for single, double or multilayer. Printed circuit boards
                        (PCBs) are the foundational building block of most modern electronic devices.
                        Semiconductors, connectors, resistors, diodes, capacitors and radio devices are mounted to, and
                        “talk” to one another through the PCB.</p>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
        <div class="container">

            <div class="section-title">
                <h2>Testimonials</h2>
                <p>It’s important to have an active feedback loop, where you’re constantly thinking about what you’ve
                    done and how you could be doing it better..</p>
            </div>

            <div class="owl-carousel testimonials-carousel">

                <div class="testimonial-item" data-aos="fade-up">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Without doubt one of the most talented programmers out there. I always go back to Aman when
                        I'm out of my depth and he's never failed to deliver what I ask for. Smart, trustworthy and
                        professional. You won't be disappointed.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ url_for('static', filename='img/testimonials/dev.jpg')}}" class="testimonial-img" alt="">
                    <h3>Devendra Bande</h3>
                    <h4>CEO &amp; Founder</h4>
                    <h4>4sigma</h4>
                </div>

                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Aman is awesome, delivers exactly what you want and is a great guy as well, thanks for all
                        your hard work for teaching me about Embedded System including various Microcontrollers. A big
                        thumps up to you.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ url_for('static', filename='img/testimonials/deepak.jpg')}}" class="testimonial-img" alt="">
                    <h3>Deepak Basty</h3>
                    <h4>Embedded &amp; IoT Developer</h4>
                    <h4>N-Technology Reserch Center</h4>

                </div>

                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Fantastic service and great guy. I recommend to anyone who needs an excellent training on
                        Embedded System and IoT Services.
                        I learnt python and he explained each and everything very precisely.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ url_for('static', filename='img/testimonials/shilvy.jpg')}}" class="testimonial-img" alt="">
                    <h3>Shilvy</h3>
                    <h4>Automation Test Engineer</h4>
                    <h4>CSG Systems Intenational</h4>
                </div>

                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="300">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Very helpful when building my project, I now have my hardware that is well designed for my
                        Matlab project. World class hardware designing.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ url_for('static', filename='img/testimonials/rushi.jpg')}}" class="testimonial-img" alt="">
                    <h3>Rushikesh Ghatkar</h3>
                    <h4>Automotive Developer</h4>
                    <h4>Technologics Global Pvt. Ltd.</h4>
                </div>

                <div class="testimonial-item" data-aos="fade-up" data-aos-delay="400">
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Always available to help, incredibly proficient, hits deadlines without fail, hard working and
                        trustworthy. In my experience, no project is too much trouble, and with Aman you really get a
                        rare entity – someone that can simplify what can be a very complex industry at times. I can
                        recommend his services without hesitation.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                    <img src="{{ url_for('static', filename='img/testimonials/sitesh.jpg')}}" class="testimonial-img" alt="">
                    <h3>Sitesh Ranjan</h3>
                    <h4>Senior Software Developer</h4>
                    <h4>Chimera Technologies</h4>
                </div>

            </div>

        </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2>Contact</h2>
                <p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon
                    as possible!.</p>
            </div>

            <div class="row" data-aos="fade-in">

                <div class="col-lg-5 d-flex align-items-stretch">
                    <div class="info">
                        <div class="address">
                            <i class="icofont-google-map"></i>
                            <h4>Location:</h4>
                            <p>512, 12th Main, 23rd Cross, Sector 7, HSR Layout, Bengaluru, Karnataka, IN
                                <br>PIN: 560102</p>
                        </div>

                        <div class="email">
                            <i class="icofont-envelope"></i>
                            <h4>Email:</h4>
                            <p>amansingh32@hotmail.com</p>
                        </div>

                        <div class="phone">
                            <i class="icofont-phone"></i>
                            <h4>Call:</h4>
                            <p>(+91) 8789423848</p>
                        </div>

                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.9891236389653!2d77.63505621529765!3d12.908420419752938!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae149143167809%3A0x7b4754c6ace2fa9e!2s512%2C%2012th%20Main%20Rd%2C%20Sector%207%2C%20HSR%20Layout%2C%20Bengaluru%2C%20Karnataka%20560102!5e0!3m2!1sen!2sin!4v1614845924596!5m2!1sen!2sin"
                                frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
                    </div>

                </div>

                <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">
                    <form action="/post" method="post" role="form" autocomplete="off">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="name">Your Name</label>
                                <input type="text" name="name" class="form-control" id="name" data-rule="minlen:4"
                                       data-msg="Please enter at least 4 chars" required/>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="name">Your Email</label>
                                <input type="email" class="form-control" name="email" id="email" data-rule="email"
                                       data-msg="Please enter a valid email" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="name">Phone Number</label>
                            <input type="tel" class="form-control" name="phone" id="phone" data-rule="minlen:10"
                                   data-msg="Please enter at least 8 chars of Phone" required/>
                        </div>
                        <div class="form-group">
                            <label for="name">Subject</label>
                            <input type="text" class="form-control" name="subject" id="subject" data-rule="minlen:4"
                                   data-msg="Please enter at least 8 chars of subject" required/>
                        </div>
                        <div class="form-group">
                            <label for="name">Message</label>
                            <textarea class="form-control" name="message" rows="10" data-rule="required"
                                      data-msg="Please write something for us" required></textarea>
                        </div>
                        <!--                        <div class="mb-3">-->
                        <!--                            <div class="loading">Loading</div>-->
                        <!--                            <div class="error-message"></div>-->
                        <!--                            <div class="sent-message">fsdfdserf</div>-->
                        <!--                        </div>-->
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary py-3 px-5">Send Message</button>
                        </div>
                        <div class="mt-3">
                            {% with messages = get_flashed_messages() %}
                            {% if messages %}
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                <strong>{{message}}</strong>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>

                            </div>
                            <script>
                              alert("{{message}}");


















                            </script>
                            {% endfor %}
                            {% endif %}
                            {% endwith %}
                        </div>
                    </form>

                </div>

            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->

{% endblock %}